on:
  push:
    branches:
    - main


jobs:
  hello:
    name: Test it
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Install pytest
        run: python -m pip install pytest 
        
      - name: Test the code
        run: pytest test_kalkylator.py
          
